@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-BoldIt.eot');
    src: local('TT Lakes Neue Expanded Bold Italic'), local('TTLakesNeueExp-BoldIt'),
        url('TTLakesNeueExp-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-BoldIt.woff2') format('woff2'),
        url('TTLakesNeueExp-BoldIt.woff') format('woff'),
        url('TTLakesNeueExp-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Black.eot');
    src: local('TT Lakes Neue Expanded Black'), local('TTLakesNeueExp-Black'),
        url('TTLakesNeueExp-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Black.woff2') format('woff2'),
        url('TTLakesNeueExp-Black.woff') format('woff'),
        url('TTLakesNeueExp-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-BlackIt.eot');
    src: local('TT Lakes Neue Expanded Black Italic'), local('TTLakesNeueExp-BlackIt'),
        url('TTLakesNeueExp-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-BlackIt.woff2') format('woff2'),
        url('TTLakesNeueExp-BlackIt.woff') format('woff'),
        url('TTLakesNeueExp-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-XBold.eot');
    src: local('TT Lakes Neue Expanded ExtraBold'), local('TTLakesNeueExp-XBold'),
        url('TTLakesNeueExp-XBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-XBold.woff2') format('woff2'),
        url('TTLakesNeueExp-XBold.woff') format('woff'),
        url('TTLakesNeueExp-XBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Italic.eot');
    src: local('TT Lakes Neue Expanded Italic'), local('TTLakesNeueExp-Italic'),
        url('TTLakesNeueExp-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Italic.woff2') format('woff2'),
        url('TTLakesNeueExp-Italic.woff') format('woff'),
        url('TTLakesNeueExp-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-XLightIt.eot');
    src: local('TT Lakes Neue Expanded ExtraLight Italic'), local('TTLakesNeueExp-XLightIt'),
        url('TTLakesNeueExp-XLightIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-XLightIt.woff2') format('woff2'),
        url('TTLakesNeueExp-XLightIt.woff') format('woff'),
        url('TTLakesNeueExp-XLightIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-ThinIt.eot');
    src: local('TT Lakes Neue Expanded Thin Italic'), local('TTLakesNeueExp-ThinIt'),
        url('TTLakesNeueExp-ThinIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-ThinIt.woff2') format('woff2'),
        url('TTLakesNeueExp-ThinIt.woff') format('woff'),
        url('TTLakesNeueExp-ThinIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Thin.eot');
    src: local('TT Lakes Neue Expanded Thin'), local('TTLakesNeueExp-Thin'),
        url('TTLakesNeueExp-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Thin.woff2') format('woff2'),
        url('TTLakesNeueExp-Thin.woff') format('woff'),
        url('TTLakesNeueExp-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-XBoldIt.eot');
    src: local('TT Lakes Neue Expanded ExtraBold Italic'), local('TTLakesNeueExp-XBoldIt'),
        url('TTLakesNeueExp-XBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-XBoldIt.woff2') format('woff2'),
        url('TTLakesNeueExp-XBoldIt.woff') format('woff'),
        url('TTLakesNeueExp-XBoldIt.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-LightIt.eot');
    src: local('TT Lakes Neue Expanded Light Italic'), local('TTLakesNeueExp-LightIt'),
        url('TTLakesNeueExp-LightIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-LightIt.woff2') format('woff2'),
        url('TTLakesNeueExp-LightIt.woff') format('woff'),
        url('TTLakesNeueExp-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Regular.eot');
    src: local('TT Lakes Neue Expanded'), local('TTLakesNeueExp-Regular'),
        url('TTLakesNeueExp-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Regular.woff2') format('woff2'),
        url('TTLakesNeueExp-Regular.woff') format('woff'),
        url('TTLakesNeueExp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-DBoldIt.eot');
    src: local('TT Lakes Neue Expanded DemiBold Italic'), local('TTLakesNeueExp-DBoldIt'),
        url('TTLakesNeueExp-DBoldIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-DBoldIt.woff2') format('woff2'),
        url('TTLakesNeueExp-DBoldIt.woff') format('woff'),
        url('TTLakesNeueExp-DBoldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Medium.eot');
    src: local('TT Lakes Neue Expanded Medium'), local('TTLakesNeueExp-Medium'),
        url('TTLakesNeueExp-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Medium.woff2') format('woff2'),
        url('TTLakesNeueExp-Medium.woff') format('woff'),
        url('TTLakesNeueExp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-MediumIt.eot');
    src: local('TT Lakes Neue Expanded Medium Italic'), local('TTLakesNeueExp-MediumIt'),
        url('TTLakesNeueExp-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-MediumIt.woff2') format('woff2'),
        url('TTLakesNeueExp-MediumIt.woff') format('woff'),
        url('TTLakesNeueExp-MediumIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Bold.eot');
    src: local('TT Lakes Neue Expanded Bold'), local('TTLakesNeueExp-Bold'),
        url('TTLakesNeueExp-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Bold.woff2') format('woff2'),
        url('TTLakesNeueExp-Bold.woff') format('woff'),
        url('TTLakesNeueExp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-XLight.eot');
    src: local('TT Lakes Neue Expanded ExtraLight'), local('TTLakesNeueExp-XLight'),
        url('TTLakesNeueExp-XLight.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-XLight.woff2') format('woff2'),
        url('TTLakesNeueExp-XLight.woff') format('woff'),
        url('TTLakesNeueExp-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-DBold.eot');
    src: local('TT Lakes Neue Expanded DemiBold'), local('TTLakesNeueExp-DBold'),
        url('TTLakesNeueExp-DBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-DBold.woff2') format('woff2'),
        url('TTLakesNeueExp-DBold.woff') format('woff'),
        url('TTLakesNeueExp-DBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Neue Expanded';
    src: url('TTLakesNeueExp-Light.eot');
    src: local('TT Lakes Neue Expanded Light'), local('TTLakesNeueExp-Light'),
        url('TTLakesNeueExp-Light.eot?#iefix') format('embedded-opentype'),
        url('TTLakesNeueExp-Light.woff2') format('woff2'),
        url('TTLakesNeueExp-Light.woff') format('woff'),
        url('TTLakesNeueExp-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

